.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;
  left: 5%;
  margin-left: 150px;
  position: relative;
  padding: 0px 0%;
  min-width: 300px; }

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
  width: 150px;
  height: 100%; }
  nav ul {
    margin: 0px;
    padding-left: 0px; }
  nav li {
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 5px 10px 10px;
    list-style: none;
    list-style-type: none; }
    nav li a:link, nav li a:visited, nav li a:hover, nav li a:active {
      text-decoration: none;
      color: black; }
